@import "../styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include default-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include default-heading;
}

ul,
ol {
  list-style: none;
}
