@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include default-text;
  font-weight: 400;
  overflow-x: hidden !important;
}

main {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include default-heading;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul,
ol {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

:where(
  a,
  button,
  input,
  textarea,
  select,
  summary,
  [tabindex]:not([tabindex="-1"])
):focus-visible {
  outline: 2px solid $green;
}

main {
  min-height: 80vh;
  padding-top: 20vh;
}
