@import "../styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include default-text;
  font-weight: 400;
  color: black;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include default-heading;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul,
ol {
  list-style: none;
}

button,
a {
  cursor: pointer;
}
