@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.button {
  @include default-heading;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
}

.primary {
  background-color: $black;
  color: $white;
}

.secondary {
  background-color: $green;
  color: $white;
}

.outline {
  background-color: $black;
  color: $white;
  border: 2px solid $green;
}
